@model IEnumerable<Flomak.com.tr.Models.Slider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-secondary card-danger">YENİ SLİDER EKLE</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-danger">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-warning">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
